* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #f4f4f4;
  font-family: "Manrope", sans-serif;
  color: #333;
}
/* ============ common ============= */
a {
  text-decoration: none;
  color: inherit;
}
/* =========== header ========== */
.header .header-body {
  display: flex;
}
.header-nav {
  margin-left: auto;
}
.header-nav ul {
  display: flex;
}
